/*
354242
ACEBAE
FFFF9D
C9DE55
7D9100
*/

html{
  min-height: 100%;
}

body{
  background-color: #7d9100;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
}

.header{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}
.header a.logo{
  color: #ffff9d;
  font-size: 3em;
  display: inline-block;
  margin-right: 20px;
}
.header a.logo:hover{
  text-decoration: none;
}
.header ul{
  padding: 0px;
  display: inline-block;
  margin: 0px;
  margin-top: 10px;
}
.header ul li{
  list-style-type: none;
  display: inline-block;
  font-size: 1.5em;
  margin-top: -20px;
}
.header ul li a{
  color: #354242;
  text-decoration: none;
  border: 0px;
  text-decoration: none;
  transition: linear .2s;
  border-radius: 10px;
  padding: 10px 20px;
}
.header ul li a:hover{
  background-color: #354242;
  color: #ffff9d;
  outline: 0px;
}

.home{
  text-align: center;
  padding: 30px;
  margin: auto
}

.home p.title{
  font-size: 3em;
  line-height: 1;
  margin: 0px;
  color: #354242;
}

.home p.title span{
  color: #ffff9d;
  font-size: 1.5em;
}

.home .button-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home .button-container .button{
  padding: 10px 20px;
  background-color: inherit;
  color: #354242;
  font-size: 1.75em;
  border: 0px;
  margin: 5px;
  text-decoration: none;
  transition: linear .2s;
  border-radius: 10px;
  outline: 0px;
  flex-grow: 1;
  width: 30%;
}

@media (max-width: 625px){
  .home .button-container{
    flex-direction: column;
  }

  .home .button-container .button{
    width: inherit;
  }
}

.home .button-container .button:hover{
  background-color: #354242;
  color: #ffff9d;
  outline: 0px;
}

.home .more{
  text-align: left;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: none;
  padding: 0px 15px;
}

.home .more p{
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #354242;
}

.page{
  margin: auto
}

.footer{
  width: 100%;
  text-align: center;
  border-top: 2px;
  padding-top: 5px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0,0,0,0) 20%, #354242 50%, rgba(0,0,0,0) 80%);
  border-image-slice: 1;
  border-bottom: 0px;
  background-color: inherit;
  margin-top: 40px;
}

.footer .social{
  font-size: 1.5em;
  padding: 0px 10px;
  color: #354242;
}

.footer .social:hover{
  text-decoration:none;
}
