/*
354242
ACEBAE
FFFF9D
C9DE55
7D9100
*/

body{
  background-color: #7d9100;
  padding-bottom: 50px;
}

.home{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  text-align: center;
  padding: 0px 15px;
}

.home p.title{
  font-size: 3em;
  line-height: 1;
  margin: 0px;
  color: #354242;
}

.home p.title span{
  color: #ffff9d;
  font-size: 1.5em;
}

.home .button-container{
  margin-top: 50px;
}

.home .button-container .button{
  display: inline-block;
  padding: 10px 20px;
  background-color: inherit;
  color: #354242;
  font-size: 1.75em;
  border: 0px;
  margin: 5px;
  text-decoration: none;
  transition: linear .2s;
  border-radius: 10px;
  outline: 0px;
}

.home .button-container .button:hover{
  background-color: #354242;
  color: #ffff9d;
  outline: 0px;
}

.home .more{
  text-align: left;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: none;
  padding: 0px 15px;
}

.home .more p{
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #354242;
}

.footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  border-top: 2px;
  padding-top: 5px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0,0,0,0) 20%, #354242 50%, rgba(0,0,0,0) 80%);
  border-image-slice: 1;
  border-bottom: 0px;
  background-color: inherit;
}

.footer .social{
  font-size: 1.5em;
  padding: 0px 10px;
  color: #354242;
}

.footer .social:hover{
  text-decoration:none;
}
